.dynamic-content-wrapper {
	min-height: 100px;
	border: 1px dashed;
	padding: 20px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

p.wrapper-begin-text {
	position: relative;
	top: -36px;
	background: white;
	padding: 0 10px;
	font-weight: bold;
	display: inline;
}

p.wrapper-end-text {
	position: relative;
	bottom: -35px;
	background: white;
	padding: 0 10px;
	font-weight: bold;
	display: inline;
}
